.navbar {  overflow: hidden;  background-color: #000000;    bottom: 0;  position:fixed;  width: 100%; display:none; border-top: 3px solid #1e2329; }
.navbar a {  float: left;  display: block;  color: #f2f2f2;  text-align: center;  width:33.3333333333333%; padding: 12px;  font-size: 18px;  text-decoration: none; }
.navbar a:hover { background-color: #21262c;  color: white; }
.navbar .icon {  display: none; }
@media screen and (max-width: 600px) { .navbar a { padding: 12px;  font-size: 16px; } }
@media screen and (max-width: 300px) { .navbar a { padding: 10px;  font-size: 14px; } }
@media screen and (max-width: 250px) { .navbar a { padding: 10px;  font-size: 14px; } }
@media screen and (max-width: 220px) { .navbar a { padding: 8px;  font-size: 14px; } }
@media screen and (max-width: 200px) { .navbar a { padding: 8px;  font-size: 12px; } }
@media screen and (max-width: 170px) { .navbar a { padding: 6px;  font-size: 8px; } }

#topaaee { background-color: white; color:black; }
body {  margin: 0; font-family: Arial, sans-serif; background-color: black; color:white;}
#content {  background-color: black;  color:white;}
.cookieconsentbutton {  background-color: #1967d2; color: white; padding: 10px 15px;  border: none; font-size: 14px; cursor: pointer; border-radius: 4px;}
.cookieconsentbutton:hover {  background-color: white;  color: black; }
.grey1-container {  background-color: black;  color: white;  padding: 35px;  text-align: center;  font-size: 16px; border-top: 3px solid #1e2329; }
.grey1-container a:link {  color: #2f81f7; background-color: transparent;  text-decoration: none; }  
.grey1-container a:hover { color: #2f81f7; background-color: transparent; text-decoration: underline; }
.grey1-container a:visited { color: #2f81f7; background-color: transparent;  text-decoration: none; }
.grey1-container a:active { color: #2f81f7; background-color: transparent;  text-decoration: none; }
.topnav { overflow: hidden;  background-color: black;  padding-left: 0%;  padding-right: 0%; padding-top:8px; padding-bottom:8px;   position: -webkit-sticky;  position: sticky; top:0; width: 100%; border-bottom: 3px solid #1e2329;}
.topnav a {  float: left;  display: #424243;  color: white;  text-align: center;  padding: 12px;  text-decoration: none;  font-size: 16px; }
.topnav a:hover {  background-color: #21262c;  color: white;}
.content {  padding: 50px;  text-align: left; font-size: 16px;}
.content a:link {  color: #2f81f7; background-color: transparent;  text-decoration: none; }  
.content a:hover { color: #2f81f7; background-color: transparent; text-decoration: underline; }
.content a:visited { color: #2f81f7; background-color: transparent;  text-decoration: none; }
.content a:active { color: #2f81f7; background-color: transparent;  text-decoration: none; }
.modal-content a:link {  color: #2f81f7; background-color: transparent;  text-decoration: none; }  
.modal-content a:hover { color: #2f81f7; background-color: transparent; text-decoration: underline; }
.modal-content a:visited { color: #2f81f7; background-color: transparent;  text-decoration: none; }
.modal-content a:active { color: #2f81f7; background-color: transparent;  text-decoration: none; }
.social a:link { font-size:30px; color:white;}
.social a:hover { color:#1d9bf0;}
#myInput {  width: 100%;  padding: 10px;  margin-bottom: 20px;  border-radius: 15px; background-color:black; color:white;  border: 2px solid white;  font-size: 13px; }
* {  box-sizing: border-box; }
.myInput {  width: 100%;  padding: 10px;  margin-bottom: 20px;  border-radius: 15px; background-color:black; color:white;  border: 2px solid white;  font-size: 13px; }
* {  box-sizing: border-box; }
#myUL {  list-style-type: none;  padding: 0;  margin: 0; }
#myUL li a {  margin-top: -1px; /* Prevent double borders */  background-color: black;  padding: 10px;  text-decoration: none;  color: white;  display: block;  border-radius: 25px;  font-size: 13px; }
#myUL li a:hover:not(.header) {  background-color: #21262c; }
#myInputab {  width: 100%;  padding: 10px;  margin-bottom: 20px;  border-radius: 15px; background-color:black; color:white;  border: 2px solid white;  font-size: 13px; }
* {  box-sizing: border-box; }
#myULab {  list-style-type: none;  padding: 0;  margin: 0; }
#myULab li a {  margin-top: -1px; /* Prevent double borders */  background-color: black;  padding: 10px;  text-decoration: none;  color: white;  display: block;  border-radius: 25px;  font-size: 13px; }
#myULab li a:hover:not(.header) {  background-color: #21262c; }


#cookieconsenta {display:none; border-bottom: 3px solid #1e2329;} 
#cookieconsentb {display:none; border-bottom: 3px solid #1e2329;} 
* {  box-sizing: border-box; }
.button {  transition-duration: 0.5s; }
#top-nav-small-side {display:none;}
#sidebar { display:none; }
#topnav-right {  float: right;}
#topnav-right2 {  float: right; }
#topnav-right3 {  float: right; }
.text-center {  text-align: center; }  .text-left {  text-align: left; }  .text-right {  text-align: right; }    #text-center {  text-align: center; }  #text-left {  text-align: left; }  #text-right {  text-align: right; }

.modal {
 display: none;   position: fixed; z-index: 1;  padding-top: 0%; padding-bottom: 0%;left: 0; top: 0; width: 100%;  height: 100%; overflow: auto;  background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); cursor:default; 
}
.modal-content {  background-color: black;  font-size: 16px;  margin: auto;  padding-left: 5%; padding-right: 5%; padding-top: 3%; padding-bottom: 3%;color:white;  border: none;  width: 100%;   border-radius: 0px; cursor:default;}
.close {  color: #2f81f7;  float: left; cursor: pointer;}
.close:hover, .close:focus {  color: #2f81f7;  text-decoration: underline;  cursor: pointer; }


@media screen and (max-width: 3000px) {
.topnav {  overflow: hidden; padding-top:10px; padding-bottom:10px; padding-left: 2%;  padding-right: 2%;}
.modal { padding-top: 0%; padding-bottom: 0%; left: 0; top: 0; width: 100%;  height: 100%; overflow: auto; }
}


@media screen and (max-width: 2000px) {
.topnav {  overflow: hidden; padding-top:9px; padding-bottom:9px; padding-left: 2%;  padding-right: 2%;}
.modal { padding-top: 0%; padding-bottom: 0%; left: 0; top: 0; width: 100%;  height: 100%; overflow: auto; }
}


@media screen and (max-width: 1400px) {
.topnav {  overflow: hidden; padding-top:8px; padding-bottom:8px; padding-left: 2%;  padding-right: 2%;}
.modal { padding-top: 0%; padding-bottom: 0%; left: 0; top: 0; width: 100%;  height: 100%; overflow: auto; }
}


@media screen and (max-width: 1200px) {
.topnav {  overflow: hidden; padding-top:7px; padding-bottom:7px; padding-left: 2%;  padding-right: 2%;}
.topnav a {  float: left;  padding: 12px;  font-size: 15px; }
.content {  padding: 45px; font-size: 15px; }
.grey1-container {  padding: 30px;  font-size: 15px; }
.social a:link { font-size:29px;}
#myInput {  padding: 10px;  margin-bottom: 20px;  font-size: 12px; }
.myInput {  padding: 10px;  margin-bottom: 20px;  font-size: 12px; }
#myUL li a {  font-size: 12px;  padding: 10px; }
#myInputab {  padding: 10px;  margin-bottom: 20px;  font-size: 12px; }
#myULab li a {  font-size: 12px;  padding: 10px; }
.modal-content { font-size: 15px;  width: 100%; border: none; border-radius: 0px; }
.modal { padding-top: 0%; padding-bottom: 0%; left: 0; top: 0; width: 100%;  height: 100%; overflow: auto; }
}


@media screen and (max-width: 1000px) {
#topnav-right { display: none; }
.topnav {  overflow: hidden; padding-top:5px; padding-bottom:5px; padding-left: 2%;  padding-right: 2%;}
#top-nav-large { display: none; }
.topnav a {  float: left;  padding: 12px;  font-size: 14px; }
.content { padding: 35px; font-size: 14px; }
.grey1-container {  padding: 30px;  font-size: 14px; }
.social a:link { font-size:28px;}
.modal-content { font-size: 14px;  width: 100%; border: none; border-radius: 0px;}
.modal { padding-top: 0%; padding-bottom: 0%; left: 0; top: 0; width: 100%;  height: 100%; overflow: auto; }
}

@media screen and (max-width: 900px) {
.topnav {  overflow: hidden; padding-top:4px; padding-bottom:4px; padding-left: 2%;  padding-right: 2%;}
}

@media screen and (max-width: 600px) {
.topnav {  overflow: hidden; padding-left: 1%;  padding-right: 1%;}
#top-nav-medium { display: none; }
.cookieconsentbutton {font-size: 13px;}
.topnav a {  float: left;  padding: 12px;  font-size: 14px; }
.content {  padding: 25px; font-size: 13px; }
.grey1-container {  padding: 25px;  font-size: 13px; }
.social a:link { font-size:26px;}
.modal-content { font-size: 13px;  width: 100%; border: none; border-radius: 0px;}
.modal { padding-top: 0%; padding-bottom: 0%; left: 0; top: 0; width: 100%;  height: 100%; overflow: auto; }
}


@media screen and (max-width: 400px) {
.topnav {padding-left: 1%;  padding-right: 1%; }
.content {  padding: 20px; font-size: 13px; }
.grey1-container {  padding: 20px;  font-size: 13px; }
.cookieconsentbutton { padding: 10px 15px;}
.social a:link { font-size:25px;}
.modal-content { font-size: 13px;  width: 100%; border: none; border-radius: 0px;}
.modal { padding-top: 0%; padding-bottom: 0%; left: 0; top: 0; width: 100%;  height: 100%; overflow: auto; }

@media screen and (max-width: 300px) {
#topnav-right3 { display: none; }
.topnav { padding-top:0px; padding-bottom:0px; padding-left: 0px;  padding-right: 0px; }
.topnav a {  float: left;  padding: 10px;  font-size: 13px; }
.content {  padding: 15px; font-size: 12px; }
.grey1-container {  padding: 15px;  font-size: 12px; }
.social a:link { font-size:22px;}
.cookieconsentbutton {  font-size: 11px;}
#myInput {  padding: 10px;  margin-bottom: 20px;  margin-top: 10px;  font-size: 10px; }
.myInput {  padding: 10px;  margin-bottom: 20px;  margin-top: 10px;  font-size: 10px; }
#myUL li a {  font-size: 10px;  padding: 10px; }
#myInputab {  padding: 10px;  margin-bottom: 20px;  margin-top: 10px;  font-size: 10px; }
#myULab li a {  font-size: 10px;  padding: 10px; }
.modal-content { font-size: 12px;  width: 100%; border: none; border-radius: 0px;}
.modal { padding-top: 0%; padding-bottom: 0%; left: 0; top: 0; width: 100%;  height: 100%; overflow: auto;  background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); 
}

@media screen and (max-width: 260px) {
.topnav { padding-top:0px; padding-bottom:0px; padding-left: 0px;  padding-right: 0px;}
.social a:link { font-size:20px;}
.cookieconsentbutton { padding: 7px 7px; }
.modal-content { font-size: 12px;  width: 100%; }
}

@media screen and (max-width: 230px) {
.social a:link { font-size:19px;}
.modal-content { font-size: 10px;  width: 100%; }
}

@media screen and (max-width: 200px) {
#topnav-right2 { display:none; }
.topnav a {  float: left;  padding: 10px;  font-size: 13px; }
.content {  padding: 12px; font-size: 12px; }
.grey1-container {  padding: 12px;  font-size: 12px; }
.social a:link { font-size:18px;}
.cookieconsentbutton { padding: 5px 5px; }
#myInput {  padding: 9px;  margin-bottom: 20px; margin-top: 15px;  font-size: 9px; }
.myInput {  padding: 9px;  margin-bottom: 20px; margin-top: 15px;  font-size: 9px; }
#myUL li a {  font-size: 9px;  padding: 9px; }
#myInputab {  padding: 9px;  margin-bottom: 20px; margin-top: 15px;  font-size: 9px; }
#myULab li a {  font-size: 9px;  padding: 9px; }
.modal-content { font-size: 9px;  width: 100%; }
}

@media screen and (max-width: 180px) {
.topnav a {  float: left;  padding: 10px;  font-size: 12px; }
.content {  padding: 11px; font-size: 11px; }
.grey1-container {  padding: 11px;  font-size: 11px; }
.cookieconsentbutton { padding: 4px 4px; }
}

@media screen and (max-width: 150px) {
.topnav a {  float: left; padding: 10px;  font-size: 10px; }
.content {  padding: 10px; font-size: 10px; }
.grey1-container {  padding: 10px;  font-size: 10px; }
.cookieconsentbutton {  font-size: 8px; }
#myInput {  padding: 8px;  margin-bottom: 20px;  font-size: 8px; }
.myInput {  padding: 8px;  margin-bottom: 20px;  font-size: 8px; }
#myUL li a {  font-size: 8px; padding: 8px; }
#myInputab {  padding: 8px;  margin-bottom: 20px;  font-size: 8px; }
#myULab li a {  font-size: 8px; padding: 8px; }
.modal-content { font-size: 8px;  width: 100%; }
}

@media screen and (max-width: 120px) {
#title { display: none; }
.topnav a {  float: left;  padding: 9px;  font-size: 9px; }
.content {  padding: 8px; font-size: 8px; }
.grey1-container {  padding: 10px;  font-size: 10px; }
.cookieconsentbutton {  font-size: 7px; }
#myInput {  padding: 7px;  margin-bottom: 20px;  font-size: 7px; }
.myInput {  padding: 7px;  margin-bottom: 20px;  font-size: 7px; }
#myUL li a {  font-size: 7px;  padding: 7px; }
#myInputab {  padding: 7px;  margin-bottom: 20px;  font-size: 7px; }
#myULab li a {  font-size: 7px;  padding: 7px; }
.modal-content { font-size: 7px;  width: 100%; border: none;}
}

@media screen and (max-width: 100px) {
.topnav a {  float: left;  padding: 8px;  font-size: 8px; }
.content {  padding: 8px; font-size: 8px; }
.grey1-container {  padding: 8px;  font-size: 8px; }
.cookieconsentbutton { padding: 2px 2px;  font-size: 6px; }
#myInput {  padding: 6px;  margin-bottom: 20px;  font-size: 6px; }
.myInput {  padding: 6px;  margin-bottom: 20px;  font-size: 6px; }
#myUL li a {  font-size: 6px;  padding: 6px; }
#myInputab {  padding: 6px;  margin-bottom: 20px;  font-size: 6px; }
#myULab li a {  font-size: 6px;  padding: 6px; }
.modal-content { font-size: 6px;  width: 100%; }
}

@media screen and (max-width: 90px) {
.content {  padding: 4px; font-size: 6px; }
.grey1-container {  padding: 4px;  font-size: 6px; }
#myInput { padding: 4px; margin-bottom: 20px; font-size: 5px; }
.myInput { padding: 4px; margin-bottom: 20px; font-size: 5px; }
#myUL li a {  font-size: 5px; padding: 4px; }
#myInputab { padding: 4px; margin-bottom: 20px; font-size: 5px; }
#myULab li a {  font-size: 5px; padding: 4px; }
.modal-content { font-size: 5px;  width: 100%; }
}